.card {
  max-width: 420px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid rgba(243, 244, 246);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
}

.provider-info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgba(17, 24, 39, 1);
  text-decoration: none;
  padding-bottom: 10px;
}

.title:hover {
  text-decoration: underline royalblue;
}

.job {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(75, 85, 99, 1);

  text-align: center;

  width: 105px;
  background-color: yellow;
  padding: 8px 5px;
  border-radius: 20px;
}

.image {
  display: block;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  background-color: royalblue;
}

.image img {
  border-radius: 0.5rem;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

.post-info {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;

  grid-gap: 1rem;
  gap: 1rem;
}

.cr {
  display: flex;
  flex-direction: column;
}

.dt {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(75, 85, 99, 1);
}

.dd {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(107, 114, 128, 1);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a {
  font-size: 14px;
  border: 1px solid #25d366;
  color: #25d366;

  border-radius: 20px;
  padding: 8px;

  transition: background-color 0.3s ease;
}

.contact a:hover {
  background-color: #25d366;
  color: #fff;
}

.contact a img {
  width: 25px;
  padding-right: 5px;
}
