.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 226px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: '';
  background-image: url('../../assets/images/slider-left-dec.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 60px;
  width: 262px;
  height: 625px;
  z-index: 1;
}

.main-banner:before {
  content: '';
  background-image: url('../../assets/images/slider-right-dec.jpg');
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 60px;
  width: 1159px;
  height: 797px;
  z-index: 1;
}

.main-banner .left-content,
.main-banner .right-image,
.main-banner .border-first-button {
  position: relative;
  z-index: 2;
}

.main-banner .left-content h6 {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: #ff725e;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main-banner .left-content h2 {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.main-banner .left-content p {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  margin-right: 45px;
}

.main-banner .right-image {
  text-align: right;
}

.main-banner .border-first-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-banner .border-first-button a img {
  width: 22px;
  padding-right: 5px;
}

.main-banner .right-image img {
  max-width: 593px;
}
