.page-landing {
  width: 100vw;
  padding: 3rem 8rem;
}

.landing-text {
  width: 57.5rem;
}

.landing-text span {
  font-size: 1.2rem;
  color: var(--color-text-title);
}

.landing-text h1 {
  font-size: 4.6rem;
  color: var(--color-text-title);
  font-family: 'Rubik', sans-serif;

  padding-top: 3.2rem;
}

.landing-text p {
  font-size: 1.4rem;
  font-weight: 400;

  padding-top: 2rem;
}

.container-buttons {
  padding-top: 3.2rem;
  display: flex;
  align-items: center;

  gap: 2.5rem;
}

.container-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.2rem;

  padding: 1.3rem;
  border: none;

  font-family: 'rubik', sans-serif;
  font-weight: normal;

  border-radius: 0.8px;
  cursor: pointer;
  transition: background 0.1s ease;
}

.container-buttons button.professional {
  background-color: var(--color-primary);
  color: var(--color-title-in-primary);
}

.container-buttons button.professional:hover {
  background-color: var(--color-primary-dark);
}

.container-buttons button.create {
  background-color: var(--color-secundary);
  color: var(--color-title-in-primary);
}

.container-buttons button.create:hover {
  background-color: var(--color-secundary-dark);
}

.landing-ilustra img {
  width: 65rem;
}
