.provider-list:before {
  content: '';
  background-image: url('../../assets/images/slider-left-dec.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 961px;
  height: 1020px;
  z-index: 0;
}

.provider-list {
  position: relative;
  padding-top: 130px;

  z-index: 20;
}

.provider-list .section-heading {
  text-align: center;
  margin-bottom: 80px;

  position: relative;
  z-index: 20;
}

.provider-list .section-heading .line-dec {
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.provider-list .show-up {
  padding-top: 40px;

  position: relative;
  z-index: 200;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  z-index: 20;
}

.provider-list #search-teachers {
  width: 100%;
  margin: 0;
  display: flex;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding-bottom: 0px;

  position: relative;
  z-index: 20;
}

.provider-list #search-teachers select {
  width: 300px;
}

.provider-list #search-teachers input {
  width: 15%;
}

.provider-list #search-teachers button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  background-color: transparent;
  border: 1px solid #fd6a54;
  border-radius: 50px;
  color: #fd6a54;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;

  transition: background 0.5s ease;
}

.provider-list #search-teachers button:hover {
  background-color: #fd6a54;
  color: #fff;
}
