header {
  background-color: #f4f3fa;
}

.provider:before {
  content: '';
  background-image: url('../../assets/images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 400px;
  z-index: 0;
}

.provider {
  position: relative;
  padding-top: 130px;

  margin: 0 auto;

  position: relative;
  z-index: 20;
}

.provider .content {
  margin: 0 auto;

  position: relative;
  z-index: 20;
}

.provider .section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.provider .section-heading .line-dec {
  margin: 0 auto;
}

.show-up {
  position: relative;
  z-index: 200;
}

.provider .container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  position: relative;
  z-index: 30;
}

.provider .input-search {
  position: relative;
  z-index: 20;

  margin: 0 auto;
  padding-bottom: 40px;
}

.provider form {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 20px;
}

.provider form button {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #0d6efd;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: 1px solid #0d6efd;
  transition: all 0.3s;
  outline: none;
}

.provider form button:hover {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.provider form select {
  border: 1px solid #000;
}
