.footer {
  background-image: url('../../assets/images/footer/footer-bg.svg');
  background-size: cover;
  background-position: top center;
  padding-top: 150px;
}

.footer .widget-wrapper .footer-widget {
  margin-bottom: 40px;
}

.footer .widget-wrapper .footer-widget .desc {
  font-size: 18px;
  line-height: 28px;
}

.footer .widget-wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
}

.footer .widget-wrapper .footer-widget .socials li {
  margin-right: 20px;
}

.footer .widget-wrapper .footer-widget .socials li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #6b6f92;
  background: #fff;
}

.footer .widget-wrapper .footer-widget .socials li a:hover {
  padding-left: 0px;
}

.footer .widget-wrapper .footer-widget h3 {
  margin-bottom: 35px;
}

.footer .widget-wrapper .footer-widget ul li {
  font-size: 18px;
  line-height: 36px;
}

.footer .widget-wrapper .footer-widget ul li a {
  color: #6b6f92;
}

.footer .widget-wrapper .footer-widget ul li a:hover {
  color: #4e6ef1;
  padding-left: 7px;
}

.footer .copy-right {
  text-align: center;
  padding: 30px 0;
  border-top: 2px solid #fff;
}
