.hero-section {
  position: relative;
  z-index: 1;
  padding: 160px 0 120px;
  background-image: url('../../assets/images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.btn-hero {
  margin: 10px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section {
    padding: 180px 0 140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section {
    padding: 180px 0 140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content {
    margin-bottom: 50px;
  }
}

.hero-section .hero-content span {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  color: #4e6ef1;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content span {
    font-size: 25px;
  }
}

.hero-section .hero-content h1 {
  font-size: 50px;
  margin-bottom: 35px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 37px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 45px;
  }
}

.hero-section .hero-content p {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

.hero-section .hero-shape .shape {
  position: absolute;
  z-index: -1;
}

.hero-section .hero-shape .shape.shape-1 {
  top: -285px;
  right: -300px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-shape .shape.shape-1 {
    top: -420px;
    right: -550px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-shape .shape.shape-1 {
    top: -400px;
    right: -550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-shape .shape.shape-1 {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-shape .shape.shape-1 {
    display: none;
  }
}

.client-logo-section .single-logo {
  opacity: 0.43;
  transition: all 0.3s ease-out 0s;
}

.client-logo-section .single-logo:hover {
  opacity: 1;
}

.client-logo-section .single-logo img {
  max-width: 100%;
}
