.hero-section {
  position: relative;
  z-index: 1;
  padding: 160px 0 50px;
  background-image: url('../../assets/images/hero-bg.svg');
  background-position: top center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 130px;
  }
}

.hero-section .hero-content {
  margin-bottom: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .hero-section .hero-content {
    margin-bottom: 0px;
  }
}

.hero-section .hero-content h1 {
  font-size: 60px;
  margin-bottom: 35px;
  color: #fff;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content h1 {
    font-size: 52px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 42px;
  }
}

.hero-section .hero-content p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

@media only screen and (min-width: 1400px) {
  .hero-section .hero-content p {
    padding-right: 120px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content p {
    padding-right: 70px;
  }
}

.hero-section .hero-content .main-btn {
  border-color: #fff;
  color: #fff;
}

.hero-section .hero-content .main-btn.btn-1 {
  margin-right: 40px;
}

.hero-section .hero-content .main-btn::after {
  background: rgba(255, 255, 255, 0.15);
}

.hero-section .hero-content .scroll-bottom {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #5864ff;
  color: #5864ff;
  left: 15px;
  bottom: 0;
  z-index: 9;
}

.hero-section .hero-content .scroll-bottom i {
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .hero-section .hero-img {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .hero-section .hero-img img {
    width: 100%;
  }
}

.hero-section .hero-shape .shape {
  position: absolute;
  z-index: -1;
}

.hero-section .hero-shape .shape.shape-1 {
  top: -285px;
  right: -300px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-shape .shape.shape-1 {
    top: -420px;
    right: -550px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-shape .shape.shape-1 {
    top: -400px;
    right: -550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-shape .shape.shape-1 {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-shape .shape.shape-1 {
    display: none;
  }
}

@media (max-width: 767px) {
  .feature-section.pt-120 {
    padding-top: 80px;
  }
}

.feature-section .single-feature {
  text-align: center;
  padding: 30px 10px;
}

@media only screen and (min-width: 1400px) {
  .feature-section .single-feature {
    padding: 30px 40px;
  }
}

.feature-section .single-feature .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(88, 100, 255, 0.1);
  color: #5864ff;
  margin: auto;
  margin-bottom: 30px;
  font-size: 65px;
  line-height: 1;
}

.feature-section .single-feature .content h3 {
  margin-bottom: 20px;
}

.feature-section .single-feature .content p {
  font-size: 18px;
  line-height: 28px;
}

.box-style {
  border-radius: 39px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 59px rgba(214, 214, 214, 0.35);
  box-shadow: 0px 0px 59px rgba(214, 214, 214, 0.35);
  padding: 50px 30px 30px;
  border-bottom: 5px solid;
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1400px) {
  .box-style {
    padding: 50px 40px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .box-style {
    padding: 50px 20px 30px;
  }
}

.box-style .icon {
  width: 85px;
  height: 85px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 70px;
}

.box-style .content h3 {
  margin-bottom: 25px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .box-style .content h3 {
    font-size: 22px;
  }
}

.box-style .content p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
}

.box-style .content a {
  color: #5b657e;
  font-size: 30px;
  font-weight: 700;
}

.box-style .content ul li {
  margin-bottom: 5px;
}

.box-style .content a.main-btn {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.box-style .content a.main-btn.border-btn {
  color: #5b657e;
}

.box-style .content a.main-btn.border-btn:hover {
  color: #5864ff;
}

.box-style .content a.main-btn.border-btn:hover::after {
  background: rgba(88, 100, 255, 0.2);
}

.box-style.color-1 {
  border-color: #ff92a5;
}

.box-style.color-1 .icon {
  color: #ff92a5;
}

.box-style.color-1 .content a:hover {
  color: #ff92a5;
}

.box-style.color-2 {
  border-color: #5864ff;
}

.box-style.color-2 .icon {
  color: #5864ff;
}

.box-style.color-2 .content a:hover {
  color: #5864ff;
}

.box-style.color-2 .content .main-btn:hover {
  color: #fff;
}

.box-style.color-3 {
  border-color: #b89cfe;
}

.box-style.color-3 .icon {
  color: #b89cfe;
}

.box-style.color-3 .content a:hover {
  color: #b89cfe;
}

/* ===== about css ====== */
.about-section {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .about-section.pt-150 {
    padding-top: 100px;
  }
}

.about-section .about-img {
  position: relative;
  z-index: 1;
  padding: 75px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .about-section .about-img {
    margin-bottom: 70px;
  }
}

.about-section .about-img .shape {
  position: absolute;
  z-index: -1;
}

.about-section .about-img .shape.shape-1 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-img .shape.shape-1 {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .about-section .about-img .shape.shape-1 {
    width: 70%;
  }
}

.about-section .about-img .shape.shape-2 {
  bottom: 0;
  right: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-img .shape.shape-2 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img .shape.shape-2 {
    right: 120px;
  }
}

@media (max-width: 767px) {
  .about-section .about-img .shape.shape-2 {
    bottom: 30px;
  }
}

.about-section .about-img-2 {
  position: relative;
  z-index: 1;
  padding: 75px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .about-section .about-img-2 {
    margin-bottom: 70px;
  }
}

.about-section .about-img-2 .shape {
  position: absolute;
  z-index: -1;
}

.about-section .about-img-2 .shape.shape-1 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-img-2 .shape.shape-1 {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .about-section .about-img-2 .shape.shape-1 {
    width: 70%;
  }
}

.about-section .about-img-2 .shape.shape-2 {
  bottom: 0;
  left: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-section .about-img-2 .shape.shape-2 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section .about-img-2 .shape.shape-2 {
    left: 120px;
  }
}

@media (max-width: 767px) {
  .about-section .about-img-2 .shape.shape-2 {
    bottom: 30px;
  }
}

.about-section .about-content ul li {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
  color: #162447;
  margin-bottom: 25px;
  position: relative;
}

.about-section .about-content ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #5864ff;
  position: absolute;
  left: 0;
  top: 6.5px;
  -webkit-box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
  box-shadow: 0px 14px 15px rgba(78, 110, 241, 0.26);
}

/* ====== feature-extended css ====== */
.feature-extended-section .feature-extended-wrapper {
  padding: 70px 0;
  background: rgba(88, 100, 255, 0.1);
}

.feature-extended-section .single-feature-extended {
  padding: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .feature-extended-section .single-feature-extended {
    padding: 30px 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .feature-extended-section .single-feature-extended {
    padding: 30px 0px;
  }
}

.feature-extended-section .single-feature-extended .icon {
  font-size: 65px;
  line-height: 1;
  margin-bottom: 30px;
  color: #5864ff;
}

.feature-extended-section .single-feature-extended .content h3 {
  margin-bottom: 20px;
}

.feature-extended-section .single-feature-extended .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* ======= subscribe css ======= */
@media (max-width: 767px) {
  .subscribe-section .section-title h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .subscribe-section .section-title h2 {
    font-size: 32px;
  }
}

.subscribe-section .subscribe-wrapper {
  background-image: url('../img/subscribe/subscribe-bg.svg');
  padding: 65px 50px 50px;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .subscribe-section .subscribe-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .subscribe-section .subscribe-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.subscribe-section .subscribe-wrapper .subscribe-form {
  position: relative;
  margin-bottom: 15px;
}

.subscribe-section .subscribe-wrapper .subscribe-form input {
  width: 100%;
  padding: 20px 30px;
  padding-right: 142px;
  border-radius: 18px;
  background: #fff;
  color: #5b657e;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.subscribe-section .subscribe-wrapper .subscribe-form input:focus {
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.35);
}

.subscribe-section
  .subscribe-wrapper
  .subscribe-form
  input::-webkit-input-placeholder {
  opacity: 0.7;
  color: #5b657e;
}

.subscribe-section
  .subscribe-wrapper
  .subscribe-form
  input:-ms-input-placeholder {
  opacity: 0.7;
  color: #5b657e;
}

.subscribe-section
  .subscribe-wrapper
  .subscribe-form
  input::-ms-input-placeholder {
  opacity: 0.7;
  color: #5b657e;
}

.subscribe-section .subscribe-wrapper .subscribe-form input::placeholder {
  opacity: 0.7;
  color: #5b657e;
}

.subscribe-section .subscribe-wrapper .subscribe-form button {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 17.5px 25px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 18px;
}

@media (max-width: 767px) {
  .subscribe-section .subscribe-wrapper .subscribe-form button {
    position: static;
    margin-top: 20px;
    background: #fff;
    color: #5864ff;
    padding: 17.5px 35px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .subscribe-section .subscribe-wrapper .subscribe-form button {
    position: absolute;
    margin-top: 0px;
    color: #fff;
    background: #5864ff;
    padding: 17.5px 25px;
  }
}

/* ======= footer css ======= */
.footer {
  background-image: url('../img/footer/footer-bg.svg');
  background-size: cover;
  background-position: top right;
  padding-top: 260px;
  margin-top: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-top: 250px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 120px;
    background: #5864ff;
  }
}

.footer .widget-wrapper .footer-widget {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1400px) {
  .footer .widget-wrapper .footer-widget .desc {
    padding-right: 100px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .footer .widget-wrapper .footer-widget .desc {
    padding-right: 50px;
  }
}

.footer .widget-wrapper .footer-widget .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .widget-wrapper .footer-widget .socials li {
  margin-right: 20px;
}

.footer .widget-wrapper .footer-widget .socials li:last-child {
  margin-right: 0;
}

.footer .widget-wrapper .footer-widget .socials li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.13);
  color: #fff;
}

.footer .widget-wrapper .footer-widget .socials li a:hover {
  color: #5864ff;
  background: #fff;
}

.footer .widget-wrapper .footer-widget h3 {
  margin-bottom: 25px;
  color: #fff;
}

.footer .widget-wrapper .footer-widget ul.links li {
  font-size: 18px;
  line-height: 34px;
}

.footer .widget-wrapper .footer-widget ul.links li a {
  color: #fff;
}

.footer .widget-wrapper .footer-widget ul.links li a:hover {
  padding-left: 8px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}
