.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 226px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner:after {
  content: '';
  background-image: url('../../assets/images/slider-left-dec.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 60px;
  width: 262px;
  height: 625px;
  z-index: 1;
}

.main-banner:before {
  content: '';
  background-image: url('../../assets/images/slider-right-dec.jpg');
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 60px;
  width: 1159px;
  height: 797px;
}

.main-banner .left-content {
  margin-right: 15px;

  position: relative;
  z-index: 2;
}

.main-banner .left-content h6 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: #fa65b1;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main-banner .left-content h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.main-banner .left-content p {
  margin-bottom: 30px;
  margin-right: 45px;
}

.main-banner .right-image {
  text-align: right;
  position: relative;
  z-index: 20;
}

.main-banner .right-image img {
  max-width: 593px;
}

.main-banner .left-content .border-first-button {
  display: flex;
  gap: 20px;
}

.main-banner .left-content .border-first-button .button_search_provider {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #ffffff !important;
  background-color: #fa65b1 !important;
  border: 1px solid #fa65b1 !important;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all 0.5s;
}

.main-banner .left-content .border-first-button .button_search_provider:hover {
  color: #fa65b1 !important;
  background-color: #fff !important;
}

.right-image p {
  padding-top: 20px;
}
