.page-about {
  padding: 6.9rem 8rem 0;
}

.about-text {
  width: 56.4rem;
}

.about-text h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.about-text p {
  font-size: 1.8rem;
  color: #686868;
}

.about-text p span {
  color: var(--color-primary);
}

.about-ilustra img {
  max-width: 54.8rem;
  border-radius: 8px;
}
