:root {
  font-size: 60%;

  --color-background: #dbe2f8;
  --color-primary: #fe717a;
  --color-primary-dark: #f8646e;
  --color-secundary: #5a5857;
  --color-secundary-dark: #1f1e1d;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #9cacaf;
  --color-text-title: #32264d;
  --color-text-complement: #9c98a6;
  --color-text-base: #6a6180;
  --color-line-in-white: #e6e6f0;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-base: #ffffff;
  --color-box-footer: #fafafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem 'Montserrat';
  color: var(--color-text-base);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
